body {
	background: #6e7f80;
	color: #f5f5dc;
}

#filterSection {
	display: block;
	float: left;
	background: #FFFFFF;
	color: #000000;
	width: 20%;
	height: 100%;
	padding: 1em;
	border-radius: 5px;
	border-left: 0.3em solid #faf506;
	border-bottom: 0.3em solid #4789d9;
}

#filterOptions, #filterText, #filterDate {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

#filterTxtBx, #filterDateCal {
	width: 80%;
}

.filterLbl, #filterSlct {
	width: 40%;
}

#imageSection {
	display: block;
	width: 70%;
	padding: 1em;
	margin: auto;
	float: right;
	background: #FFFFFF;
	border-radius: 5px;
	border-left: 0.3em solid #faf506;
	border-bottom: 0.3em solid #4789d9;
}

.ArtDisplayLft, .ArtDisplayRgt {
	width: 45%;
	text-align: center;
	color: yellow;
	background: #222121;
	border-left: solid 0.2em #000000;
	border-bottom: solid 0.2em #d4cfcf;
	margin-top: 0.8em;
	border-radius: 5px;
}

.ArtDisplayLft {
	float: left;
}

.ArtDisplayRgt {
	float: right;
}

.fanartImg {
	width: 95%;
	margin: auto;
	border: solid 0.2em #7fffd4;
}

#pageSelectors {
	clear: left;
}

#pageSelectors table {
	margin: auto;
}

#pageSelectors td {
	width: 33%;
}

#pgLft {
	text-align: left;
}

#pgTitle {
	text-align: center;
	color: #4789d9;
}

#pgRgt {
	text-align: right;
}