body {
	background: #6e7f80;
	color: #f5f5dc;
}

td.nextArt{
	vertical-align: middle;
	text-align: left;
	width: 25%;
}

td.fanartTitle {
	vertical-align: middle;
	text-align: center;
	width: 50%;
}

td.prevArt {
	vertical-align: middle;
	text-align: right;
	width: 25%;
}

.fanartUnqBtn {	
	height: 1.5em;
	width: 3em;
}

img#fanartImg {
	display: block;
	top: 0%;
	border: solid 0.3em #7fffd4;
	max-width: 95%;
	margin: auto;
}

.fanartShow {
	padding-top: 10%;
}

.fanartShow table {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}

.fanartDetails table{
	border: solid 0.3em #7fffd4;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 1em;
}

td.fanartDetails{
	text-align: center;
}

.flagImg {
	cursor: pointer;
	float: right;
	position: relative;
	top: 0%;
	right: 45%;
}

input#flagChk, input#rateChk, .commentLike, .commentReport{
	display:none;
}

.rateImg {
	cursor: pointer;
	float: left;
	position: relative;
	top: 0%;
	left: 45%;
}

.container {
	margin:auto;
	padding: 0.5em;
}

.comments {
	display:block;
	background: #FFFFFF;
	color: #000000;
	width: 95%;
	margin: auto;
	padding: 1em;
	border-radius: 5px;
	border-left: 0.3em solid #faf506;
	border-bottom: 0.3em solid #4789d9;
}

.postComment {
	margin: auto;
	margin-bottom: 1em;
	background: #f5f5dc;
	padding: 0.5em;
	border-radius: 5px;
	border-left: 0.3em solid #faf506;
	border-bottom: 0.3em solid #4789d9;
	height: 15%;
	width: 95%;
}

#newCommentLbl {
	float: left;
	text-decoration: underline;
	padding-bottom: 0.2em;
}

#newComment {
	float: left;
	clear: left;	
	width: 99%;
	height: 75%;
	margin:auto;
	resize: none;
}

#addComments {
	float: right;
}

#allComments {
	border-top: solid 0.3em #7fffd4;
	padding-top: 1em;
	margin-top: 1em;
	margin: auto;
	padding: 0.5em;
}

.loadedComment {
	position: static;
	border-radius: 5px;
	border-left: 0.3em solid #faf506;
	border-bottom: 0.3em solid #4789d9;
	margin: 0.5em;
	background: #f5f5dc;
	text-align: center;
}

.commentAuthor {
	width: 95%;
	margin: auto;
	padding-left: 1em;
	text-align: left;
	text-decoration: underline;
	background: #7fffd4;
	display: block;
	right: 0%;
	top: 0%;
}

.commentText {
	text-align: left;
	margin: auto;
	padding: 1em;
}

.commentLikeLbl {
	float: right;
	position: relative;
	top: -2em;
}

.commentReportLbl {
	float: right;
	position: relative;
	top: -2em;
}

.commentLikeImg {
	cursor: pointer;
}

.commentReportImg {
	cursor: pointer;
}

nav {}