body {
	background: #6e7f80;
	color: #f5f5dc;
}

td.nextArt{
	vertical-align: middle;
	text-align: left;
	width: 25%;
}

td.fanartTitle {
	vertical-align: middle;
	text-align: center;
	width: 50%;
}

td.prevArt {
	vertical-align: middle;
	text-align: right;
	width: 25%;
}

.fanartUnqBtn {	
	height: 1.5em;
	width: 3em;
}

img#fanartImg {
	display: block;
	top: 0%;
	border: solid 0.3em #7fffd4;
	max-width: 95%;
	margin: auto;
}

.fanartShow table {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}

.fanartDetails table{
	border: solid 0.3em #7fffd4;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

td.fanartDetails{
	text-align: center;
}

.flagImg {
	cursor: pointer;
	float: right;
	position: relative;
	top: 0%;
	right: 45%;
}

input#flagChk, input#rateChk{
	display:none;
}

.rateImg {
	cursor: pointer;
	float: left;
	position: relative;
	top: 0%;
	left: 45%;
}

.comments {

}