.navContainer {
	margin-top: 0px;
	position: fixed;
	display: flex;
	min-height: 10%;
	min-width: 98%;
	align-self: center;
	justify-content: center;
	background-color: rgb(39, 138, 224);
	border: 3px;
	border-radius: 18px 18px 18px 18px;
}

.navBar {
	margin: 5px;
	display: flex;
	align-content: space-between;
	min-height: 70px;
	min-width: 98%;
	align-self: center;
	justify-content: center;
	background-color: rgb(171, 171, 171);
	border: 3px;
	border-radius: 18px 18px 18px 18px;
}

a.navAnchor {
	display: flex;
	margin: auto;
	justify-content: center;
	border: 3px;
	min-height: 100%;
	min-width: 100%;
}

.navImg {
	max-width: 100%;
	max-height: 100%;
	padding: 0px;
	align-self: center;
	transition: 550ms ease-in-out;
}

#logImg {
	max-width: 80%;
	max-height: 100%;
	padding: 0px;
	align-self: center;
	transition: 550ms ease-in-out;
}

.logoImg {
	margin-right: 10px;
	max-width: 140%;
	max-height: 130%;
	padding: 0px;
	align-self: center;
	transition: 550ms ease-in-out;
}

.logo {
	display: flex;
	margin: auto;
	border: 3px;
	height: 50px;
	width: 90px;
	border-radius: 18px 18px 18px 18px;
	justify-content: center;
	background-color: none;
	transition: 550ms ease-in-out;
}

.fanart {
	display: flex;
	margin: auto;
	border: 3px;
	height: 40px;
	width: 80px;
	border-radius: 18px 18px 18px 18px;
	justify-content: center;
	transition: 550ms ease-in-out;
}

.wishlist {
	display: flex;
	margin: auto;
	border: 3px;
	height: 40px;
	width: 80px;
	min-width: none;
	border-radius: 18px 18px 18px 18px;
	justify-content: center;
	transition: 550ms ease-in-out;
}

.pokemon {
	display: flex;
	margin: auto;
	border: 3px;
	height: 50px;
	width: 90px;
	border-radius: 18px 18px 18px 18px;
	justify-content: center;
	transition: 550ms ease-in-out;
}

.locations {
	display: flex;
	margin: auto;
	border: 3px;
	height: 50px;
	width: 90px;
	border-radius: 18px 18px 18px 18px;
	justify-content: center;
	transition: 550ms ease-in-out;
}

.profile {
	display: flex;
	margin: auto;
	border: 3px;
	height: 50px;
	width: 90px;
	border-radius: 18px 18px 18px 18px;
	justify-content: center;
	transition: 550ms ease-in-out;
}


a:hover {
	display: flex;
	margin: auto;
	justify-content: center;
	border: 3px;
	height: 100%;
	width: 100%;
	border-radius: 18px 18px 18px 18px;
	background-color: yellow;
}
