.navContainer {
	position: fixed;
	left: 50%;
	top: 0%;
	transform: translate(-50%, 0);
	display: flex;
	min-height: 6%;
	min-width: 100%;
	align-self: center;
	justify-content: center;
	background-color: rgb(81, 174, 255);
	filter: drop-shadow(0.0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4));
}

.navBar {
	margin: 5px;
	display: flex;
	align-content: space-between;
	min-height: 100%;
	min-width: 98%;
	align-self: center;
	justify-content: center;
	/* background-color: var(--white-blue); */
	border: 3px;
	border-radius: 18px 18px 18px 18px;
}

.navAnchor {
	width: auto;
	border-radius: 18px 18px 18px 18px;
	transition: all .05s ease-in-out;
}

.navAnchor:active {
    transform: scale(1.05);
}

a.navAnchor:hover {
	display: flex;
	margin: auto;
	justify-content: center;
	/* background-color: white; */
	filter: drop-shadow(5px 5px 4px rgba(0, 132, 255, 0.651));
	transform: scale(1.1);
}

a.navAnchor {
	display: flex;
	margin: auto;
	justify-content: center;
	border: 3px;
	min-height: 100%;
	min-width: 100%;
}

.navDiv {
	display: flex;
	margin: auto;
	border: 3px;
	height: 70px;
	width: auto;
	border-radius: 18px 18px 18px 18px;
	justify-content: center;
	background-color: none;
}

.navImg {
	min-height: 2.0vw;
	max-width: auto;
	height:4vh;
	align-self: center;
	transition: 0.5s ease-in-out;
}

#logoImg {
	min-height: 2.0vw;
	height: 5.0vh;
	align-self: center;
	transition: 0.2 ease-in-out;
}




