.navContainer {
	margin-top: 0px;
	position: fixed;
	display: flex;
	min-height: 6%;
	min-width: 98%;
	align-self: center;
	justify-content: center;
	background-color: rgb(81, 174, 255);
	border-radius: 18px 18px 18px 18px;
	filter: drop-shadow(0.0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4));
}

.navBar {
	margin: 5px;
	display: flex;
	align-content: space-between;
	min-height: 70px;
	min-width: 98%;
	align-self: center;
	justify-content: center;
	background-color: var(--white-blue);
	border: 3px;
	border-radius: 18px 18px 18px 18px;
}

.navAnchor {
	border-radius: 18px 18px 18px 18px;
	transition: all .05s ease-in-out;
}

.navAnchor:active {
    transform: scale(1.05);
}

a.navAnchor:hover {
	display: flex;
	margin: auto;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: white;
	box-shadow:
		0 0 30px 30px rgba(0, 255, 255, 0.411);
	transform: scale(1.1);
}

a.navAnchor {
	display: flex;
	margin: auto;
	justify-content: center;
	border: 3px;
	min-height: 100%;
	min-width: 100%;
}

.navDiv {
	display: flex;
	margin: auto;
	border: 3px;
	height: 50px;
	width: 90px;
	border-radius: 18px 18px 18px 18px;
	justify-content: center;
	background-color: none;
}

.navImg {
	max-width: 100%;
	max-height: 100%;
	padding: 0px;
	align-self: center;
	transition: 550ms ease-in-out;
}

#logoImg {
	margin-right: 10px;
	max-width: 140%;
	max-height: 130%;
	padding: 0px;
	align-self: center;
	transition: 550ms ease-in-out;
}




