:root {
    --hp-green: rgb(81, 207, 13);
    --hp-green-bright: rgb(143, 255, 83);
    --hp-green-dark: rgb(68, 172, 13);
    --attack-red: rgb(190, 21, 21);
    --attack-red-bright: rgb(236, 47, 47);
    --attack-red-dark: rgb(138, 13, 13);
	--blue: #284fce;
    --defense-blue: rgb(0, 94, 255);
    --defense-blue-bright: rgb(62, 133, 255);
    --defense-blue-dark: rgb(0, 66, 180);
    --specatk-orange: rgb(255, 153, 0);
    --specatk-orange-bright: rgb(255, 194, 61);
    --specatk-orange-dark: rgb(206, 99, 0);
    --specdef-purple: rgb(168, 23, 205);
    --specdef-purple-bright: rgb(218, 68, 255);
    --specdef-purple-dark: rgb(138, 17, 168);
    --speed-yellow: rgb(255, 244, 39);
    --speed-yellow-bright: rgb(255, 246, 74);
    --speed-yellow-dark: rgb(223, 201, 1);
    --blue-bright: #3e81e6;
	--soft-blue: rgb(96, 167, 196);
    --spheal-blue-bright:#9ec9f8;
    --spheal-blue:#7aa8d9;
    --spheal-blue-semidark:#6d95c0;
    --spheal-blue-dark:#4472a3;
	--pikachu-yellow-bright: #fffc3e;
	--pikachu-yellow: #fff235;
	--pikachu-yellow-soft: #fff780;
	--pikachu-yellow-soft-bright: #fffcd2;
	--pikachu-yellow-gold: #e0cd22;
	--pikachu-yellow-dark: #dfc13f;
	--white: #ffffff;
	--white-2: #f7f7f7;
	--white-blue: #e2ecff;
}

body {
    background-color: var(--spheal-blue);
    font-family: 'Nunito Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
	background-attachment: fixed;
    font-size: large;
}

h1 {
	font-size:xx-large;
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.grid {
	display:grid;
	grid-template-columns: 1fr 5fr 1fr;
}

aside.aside-left{
	float: left;
	font-style: italic;
}

aside img {
	max-width:100%;
	max-height:100%;
}

aside.aside-right{
	float: right;
	font-style: italic;
}

aside div {
	padding: 2em;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

section {
	color: black;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

section div {
	padding: 2em 3em;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

section img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
}

.header {
	display:block;
	background-color: var(--spheal-blue);
	width: 100%;
	height: 10%;
}

.commentContainer {
    max-width: 640px;
    margin: 30px auto;
    background: var(--blue);
    border-radius: 8px;
    padding: 20px;
}

.queryContainer {
    max-width: 600px;
    max-height: 100px;
    display: block;
    background-color: var(--white-2);
    border-radius: 30px;
    box-shadow: 10px 10px #00000038;
    margin: 0 auto;
}

.querySection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: auto;
}

#query {
    width: 600px;
    height: 40px;
    border: 5px 0px 5px 0px;
    border-color: #016BA8;
    background-color: #ffffff;
    font-size: 16pt;
    border-radius: 5px;
    margin-right: 10px;
}

#searchButton {
    background-color: #E8E8E8;
    width: 200px;
    height: 50px;
    font-size: large;
    transition: all .05s ease-in-out;
    border-radius: 20px;
}

#searchButton:hover {
    -webkit-transform:scale(1.1); /* or some other value */
    transform:scale(1.1);
	box-shadow: 
		2px 2px 3px 3px #00000048;
}

#searchButton:active {
    transform: scale(1.05);
    box-shadow: 
		0px 0px 2px 2px #00000048;
}

#pokeball {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    z-index: 0;
}

/* Pokemon Title */
#pokemon-title-div {
    padding: 0;
}

/* Pokemon Sprite */

.pokemonContainer {
    margin: auto;
    max-width: 1024px;
    align-content: space-between;
    background-color: rgba(36, 130, 213, 0.767);
    border-radius: 15px;
    box-shadow: 10px 10px #00000038;
}

.pokemonSpriteContainer {
    width: 360px;
    background-color: #ffffff;
    border-radius: 15px;
}

/* Stats */

#pokemon-stats-title {
    padding: 0;
}

.pokemonStatsContainer {
    margin-top: 20px;
    border-radius: 12px;
    background-color: rgb(95, 178, 255);
}

.statsGraphic {
    display: flex;
    padding: 20px;
    height: 200px;
    gap: 1vw;
    align-content: space-evenly;
    align-items: flex-end;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

.stats {
    padding: 0px;
    display: flex;
    width: 100%;
    height: unset;
    border-radius: 5px;
    animation: scaleStat 0.25s ease-in forwards;
    text-align: center;
    border-bottom: 15px solid rgba(0, 0, 0, 0.308);
}

.stats > h1 {
    margin:auto;
    font-size: 100%;
    text-align:center;
}

.stats > h2 {
    position: relative;
    bottom: 35px;
    left: 25%;
    font-size: 100%;
    text-align:center;
}

.statsLabel {
    display: flex;
    align-content: space-evenly;
}

.statsLabel > h1 {
    padding: 0;
}

#hp-stat {
    background-image: linear-gradient(to bottom, 
        var(--hp-green-dark) 1%, 
        var(--hp-green) 50%, 
        var(--hp-green-bright) 90%
    );
    background-color: var(--hp-green);
    height: 50px;
}

#atk-stat {
    background-image: linear-gradient(to bottom, var(--attack-red-dark) 1%, var(--attack-red) 50%, var(--attack-red-bright) 90%);
    background-color: rgb(190, 21, 21);
}

#def-stat {
    background-image: linear-gradient(to bottom, var(--defense-blue-dark) 1%, var(--defense-blue) 50%, var(--defense-blue-bright) 90%);
    background-color: rgb(0, 94, 255);
}

#spec-atk-stat {
    background-image: linear-gradient(to bottom, 
        var(--specatk-orange-dark) 1%, 
        var(--specatk-orange) 50%, 
        var(--specatk-orange-bright) 90%
    );
    background-color: rgb(255, 153, 0);
}

#spec-def-stat {
    background-image: linear-gradient(to bottom, 
        var(--specdef-purple-dark) 1%, 
        var(--specdef-purple) 50%, 
        var(--specdef-purple-bright) 90%
    );
    background-color: rgb(168, 23, 205);
}

#speed-stat {
    background-image: linear-gradient(to bottom, 
        var(--speed-yellow-dark) 1%, 
        var(--speed-yellow) 50%, 
        var(--speed-yellow-bright) 90%
    );
    background-color: rgb(255, 244, 39);
}

@keyframes scaleStat {
    0% {
        height: 1px;
        background-color: #eee;
    }

    100% {
        height: inherit(height);
        background-color: inherit(background-color);
    }
}

/* Information */

.vals {
    background: gold;
    height: 5px;
    width: 7px;
    border: 1px solid black;
    border-radius: 2px;
}

.information {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    height: 200px;
    gap: 1vw;
    align-content: space-evenly;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

.type {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 2px solid black;
    height: 50%;
}


/* Comments */

.comment {
    display: block;
    transition: all 1s;
}
.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}
.commentContainer textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    max-height: fit-content;
    border-radius: 7px;
    border-bottom: 2px solid #016BA8;
    border-left: 3px solid #016BA8;
    transition: 0.5s;
    margin-top: 15px;
    resize: none;
}

button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
}

button.primaryContained:hover {
    background: #d4e91b;
}