body {
    background-color: rgb(166, 190, 239);
}

h1 {
    text-shadow: 2px 2px 8px blue;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: Ravie;
    font-size: 55px;
    /* background-image: linear-gradient(to bottom, #7fffd4, #acfae0); */
    background-image: linear-gradient(to bottom, rgba(0, 132, 255, 0.651), #b9d7f8);
}

h2 {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: snap itc;
    text-shadow: 4px 4px 8px rgb(11, 11, 242);
    font-size: 40px;
    /* background-image: linear-gradient(to bottom, #acfae0,  #cbf5e7); */
    background-image: linear-gradient(to bottom, #b9d7f8, #c8def6);
}

img.pB {
    border-radius: 50%;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox input {
    border-radius: 8px 0 0 8px;
    border: 0;
    outline: none;
    height: 36px;
    padding: 4px 16px;
    background-color: rgb(241, 245, 248);
    color: #000;
}

.searchBox button {
    border-radius: 0 8px 8px 0;
    border: 0;
    height: 36px;
    padding: 4px 16px;
    background-color: rgb(241, 245, 248);
}

.pokemonBox {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    grid-gap: 30px;
}

.pokemonBox img {
    width: 300px;
}

.pokemonBox p {
    margin-top: 1rem;
}

.pokemonBox .pokemonInfos {
    padding: 2rem;
}

main {
    justify-content: center;
    margin: auto;
    padding-top: 20px;
}

h3 {
    text-align: center;
}

#search:hover {
    transform: scale(1.1);
}

divpokemon:hover {
    /* transform: rotateX(20deg); */
    transform: scale(1.1);
}

.pokecard {
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px !important;
    border: 9px solid  #f3cb5e;
    background-color: #5799e1;
}

table {
    display:flex;
    text-align: center;
    border-style: dotted;
}

.h1Style {
    margin-top: 6%;
}

div#displayWishlist {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;

}

divpokemon {
    border: dashed;
    padding-bottom: 10px;
    border-radius: 5px;
}

.deletePoke {
    height: 20px;
    width: 80px; 
    background-color: #a2b6f7;
}

pokemonId {
    background-color: azure;
}

#pokemonKey {
    background-color: #f3cb5e;
}