body {
    background-color: rgb(166, 190, 239);
}

h1 {
    text-shadow: 2px 2px 8px blue;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: Ravie;
    font-size: 55px;
    /* background-image: linear-gradient(to bottom, #7fffd4, #acfae0); */
    background-image: linear-gradient(to bottom, #9ec9f8, #b9d7f8);
}

h2 {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: snap itc;
    text-shadow: 4px 4px 8px rgb(11, 11, 242);
    font-size: 40px;
    /* background-image: linear-gradient(to bottom, #acfae0,  #cbf5e7); */
    background-image: linear-gradient(to bottom, #b9d7f8, #c8def6);
}

img.pB {
    border-radius: 50%;
}

#Discription {
    text-align: center;
}