.commentContainer {
    max-width: 640px;
    margin: 30px auto;
    background: rgb(173, 173, 173);
    border-radius: 8px;
    padding: 20px;
}

.wrapper {
    height: auto;
    width: auto;
    margin: 5px;
    background: rgb(148, 154, 154);
    padding: 5px;
    border-radius: 5px;
}

.comment {
    display: block;
    transition: all 1s;
}
.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}
.commentContainer textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    max-height: fit-content;
    border-radius: 7px;
    border-bottom: 2px solid #016BA8;
    border-left: 3px solid #016BA8;
    transition: 0.5s;
    margin-top: 15px;
    resize: none;
}

button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
}

button.primaryContained:hover {
    background: #d4e91b;
}
.queryContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: auto;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(173, 173, 173);
    border-radius: 30px;
}

.querySection {
    display: flex;
    margin: auto;
    padding: 10px;
    justify-self: center;
    flex-direction: row;
    width: 300px;
    height: fit-content;
    border-color: 3px solid gold;
    background-color: rgb(169, 169, 169);
    border-radius: 40px;
   
}

.query {
    resize: none;
    border: 2px 0px 2px 0px;
    border-color: #016BA8;
    background-color: #ffffff;
    font-size: 12pt;
    margin: 10px;
    border-radius: 5px;
}

.search {
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 15px;
    height: 50px;
    border-color: none;
    background-color: #E8E8E8;
}

.page {
    margin-top: 10px;
    align-items: center;
    flex-direction: auto;
    border: 3px;
    background-color: rgb(173, 173, 173);
}

.pokemonContainer {
    display: flex;
    margin: auto;
    align-content: space-between;
    justify-self: center;
    flex-direction: row;
    border: 3px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(36, 131, 213, 0.537);
    border-radius: 15px;
}

.pokemonSpriteContainer {
    margin: 20px;
    width: 320px;
    height: 340px;
    background-color: #ffffff;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 12px;
}

.pokeImg {
    display: flex;
    margin: auto;
    justify-self: center;
    max-width: 320px;
    max-height: 320px;
    padding-right: 3px;
}

.pokemonStatsContainer {
    margin: 20px;
    border: 3px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    background-color: rgb(0, 132, 255);
}

.statsGraphic {
    display: flex;
    align-content: space-around;
    margin: 20px;
    border: 3px solid black;
    width: 320px;
    height: 100px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

.information {
    margin: 20px;
    border: 3px solid black;
    width: 320px;
    height: 100px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.weakness {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50%;
    font-size: x-large;
}

.type {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 2px solid black;
    height: 50%;
    font-size: x-large;
}

.vals {
    background: gold;
    height: 5px;
    width: 7px;
    border: 1px solid black;
    border-radius: 2px;
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: auto;
    width: 30px;
    height: 97px;
}

.hpchild {
    display: inline;
    background-color: rgb(81, 207, 13);
    width: 100%;
    height: auto;
    border-radius: 2px;
    animation: scaleStat 1s ease-in forwards;
    text-align: center;
}

.atkchild{
    display: inline;
    background-color: rgb(190, 21, 21);
    width: 100%;
    height: auto;
    border-radius: 2px;
    animation: scaleStat 1s ease-in forwards;
    text-align: center;
}

.defchild {
    display: inline;
    background-color: rgb(0, 94, 255);
    width: 100%;
    height: auto;
    border-radius: 2px;
    animation: scaleStat 1s ease-in forwards;
    text-align: center;
}

.SAchild {
    display: inline;
    background-color: rgb(255, 153, 0);
    width: 100%;
    height: unset;
    border-radius: 2px;
    animation: scaleStat 1s ease-in forwards;
    text-align: center;
    
}

.SDchild {
    display: inline;
    background-color: rgb(168, 23, 205);
    width: 100%;
    height: unset;
    border-radius: 2px;
    animation: scaleStat 1s ease-in forwards;
    text-align: center;
}

.speedchild {
    display: inline;
    background-color: rgb(255, 244, 39);
    width: 100%;
    height: unset;
    border-radius: 2px;
    animation: scaleStat 1s ease-in forwards;
    text-align: center;
}



@keyframes scaleStat {
    0% {
        height: 1px;
        background-color: #eee;
    }

    100% {
        height: inherit(height);
        background-color: inherit(background-color);
    }
}