body {
    font-family: sans-serif;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages4.alphacoders.com%2F125%2F125994.jpg&f=1&nofb=1);
    background-repeat: no-repeat;
    background-size: cover;
    border: 100px rgb(25, 179, 213);
}

section {
    border: 10px transparent gray;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 90vh;
    max-width: 70px;
    margin: auto;

    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logBox {
    height: 175px;
    display: flex;
    table-layout: auto;
    background-color: rgb(3, 110, 182);
    border-radius: 20px;
    border-radius: 5px black;
    
    align-items:flex-end;
    align-items: center;
    justify-content: center;
    vertical-align: auto;
    margin-bottom: 30%;
    
}

.inputBox {
    margin-left: 20px;
}

.pokeButt {
    cursor:pointer; 
    background-color: transparent;
    border: none;
    margin: 15px;
    align-items: center;
}

.pokeButt:hover {
    transform: scale(1.1);
    margin: 15px;
    
}

.maintitle {
    height: 90vh;
    max-width: 70px;
    margin: auto;
    transform: scale(.7);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
