body {
    background-color: rgb(0, 0, 0);
    background-image: url("https://external-preview.redd.it/GHRtvIuY5-aKhUFy6m3vkZiw9a8265wbZq-ZVeqIZI4.gif?format=png8&s=73db20593a48231ffebbe2f487881d5870c52a7a");    color:aqua;
    font-size: large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

table {
    background-color: darkred;
    padding: 10px;
    border-radius: 1px;
    border-style: solid;
    border: hotpink solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
}

th {
    border-radius: 1px;
    border-style: solid;
    border: hotpink solid;
}


img {
    max-width: 300px;
}

.title {
    min-width: 750px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#description {
    background-color: black;
}

.description-class {
    min-width: 750px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body.flintstones {
    background-image: url("https://garden.spoonflower.com/c/12694591/p/f/m/wmn3KRN4LB_AcJEMMYapyi5Ky0hyiJnChExlx2uc5js3PWROdsUp80k/flintstones%20outfit%20pattern.jpg");
}

img.flintstones {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.flintstones {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 75%;
    color:white;
    background-color: chocolate;
}

p.flintstones {
    background-color: rgb(180, 97, 37);
}

#flintstone-episode {
    background-color: rgb(180, 97, 37);
}

#jetson-episode {
    background-color: rgb(39, 11, 163);
    padding: 5px;
    margin: 5px;
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    border:blue 2px;
    border-style: solid;
}

body.jetsons {
    background-image: url("https://img5.goodfon.com/wallpaper/big/6/7a/look-out-jetsons-a-whimsical-piece-fractal-manipulation-anim.jpg");
}

div.jetsons {
    text-align:center;
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 75%;
    color:white;
    background-color: darkblue;
    border:blue 2px;
    border-style: solid;
}

footer {
    text-align:center;
}

div.now-playing {
    text-align:center;
    background-color:darkblue;
    display: block;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 75%;
    border-radius: 2px;
    border-style: solid;
    border: cyan 2;
}

h1.scooby {
	text-align: center; 
	background: #FFFFFF; 
	border: solid 0.5em #00FF00;
}

h2.scooby{
	text-align: center; 
	background: #FFFFFF; 
	color: #FF4400; 
	border: solid 0.5em #0044FF;
}

p.scooby {
	background: #FFFFFF; 
	border: solid 0.5em #00FF00; 
	margin-left: 5em; 
	margin-right: 5em;
	text-align: center;
}

h1.scooby#overviewHead {
	color: #00FF00;
	text-align: center; 
	background: #FFFFFF; 
	border: solid 0.5em #FF0000;
}

p.scooby#overviewBody{
	background: #FFFFFF; 
	color: #00FF00;
	border: solid 0.5em #FF0000; 
	margin-left: 5em; 
	margin-right: 5em;
	text-align: center;
}

li.scooby{
	background: #FFFFFF;
	border: solid 0.5em #0044FF;
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 0.2 em;
	margin-bottom: 0.2 em;
	text-align: center;
}

li.scooby a {
	color: #FF4400;
}

li.scooby a:hover {
	color: #0044FF;
}

.emailSignup {
    border:#FF0000 2px;
    border-style: solid;
    display: block;
    padding: 10px;
    background-color: darkblue;
    margin-left: 20%;
	margin-right: 20%;
}

hr.flint {
    border-top:rgb(255, 109, 5) solid 10px;
}