.container {
    max-width: 640px;
    margin: 30px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}

.wrapper {
    height: auto;
    width: auto;
    margin: 5px;
    background: rgb(148, 154, 154);
    padding: 5px;
    border-radius: 5px;
}

.comment {
    display: block;
    transition: all 1s;
}
.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}
.container textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    max-height: fit-content;
    border-radius: 7px;
    border-bottom: 2px solid #016BA8;
    border-left: 3px solid #016BA8;
    transition: 0.5s;
    margin-top: 15px;
}

button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
}

button.primaryContained:hover {
    background: #d4e91b;
}